@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-title: #065E7C;
}

#container-p {
    display: grid;
    grid-template-columns: repeat(1, 43.2rem);
    justify-content: center;
}

/* HEADER */

header > nav {
    background-color: var(--color-title);
    padding: 1.2rem 2.8rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.6rem;
}

#procurar label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

#procurar input {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    padding-left: 1rem;
    color: #FFFFFF;
    background-color: #ffffff21;
    height: 4.2rem;
    border-radius: 4px;
    border: none;
}

#procurar input::placeholder {
    color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}

#avatar {
    width: 4.2rem;
    object-fit: cover;

    border-radius: 50%;
}

/* MAIN */

#img-title {
    border-radius: 0px 0px 0px 5px;
}

#content,
aside {
    font-family: 'Mulish', sans-serif;
    padding: 0rem 2.2rem;
}

#content h1{
    padding-top: 4rem;
    font-size: 2.4rem;
}

#content {
    font-size: 1.6rem;
}

