* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

:root {
    font-size: 62.5%;

    /* FONTS */
    --title: "Bebas Neue", sans-serif;
    --text: "Abel", sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 80% 1fr;

    background-image: url('assets/gitbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

main {
    max-height: 38rem;
    max-width: 60rem;
    margin: 3rem auto;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0);
    
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.13);
    border-radius: .5rem;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 10px;
}

header, footer, thead th {
    background-color: rgb(49, 49, 49);
}

#search {
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: center;
}

#search i, #aboutInput > * {
    padding: 1rem;
}

#search > i {
    font-size: 5rem;
}

#aboutInput label {
    position: absolute;
}

#aboutInput {
    position: relative;
    display: flex;
    gap: 1.6rem;
}

#aboutInput input {
    flex: 1;
    width: 30rem;

    border: transparent;
    border-radius: .5rem;
    background-color: rgb(58, 58, 56);
}

#aboutInput input:focus {
    outline: 2px solid rgb(170, 170, 5)
}

#aboutInput button {
    position: relative;
    border: none;
    border-radius: .5rem;
    cursor: pointer;

    background-color: rgb(170, 170, 5);
}

#aboutInput button:hover {
    background-color: yellow;
    transition-duration: .2s;
}

#aboutInput button > i {
    font-size: 2rem;
    font-weight: bold;
}

table {
    width: 100%;
    
    background-color: rgba(49, 49, 49, 0.562);
    border-collapse: collapse;

    font-family: var(--text);
}

table thead {
    position: sticky;
    top: 0;
}

table thead th {
    text-align: left;
    color: yellow;
   
    font-size: 2rem;
    font-family: var(--title);
    padding: 1rem 2rem; 
}

table tbody tr:nth-child(even) {
    background-color: rgb(49, 49, 49);
}



table tbody td {
    padding: 1rem 2rem;
    color: white;
}

.user {
    display: flex;
    gap: 1.6rem;
}

.user > img {
    width: 5rem;
    border-radius: 50%;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.link a {
    color: white;
    text-decoration: none;
}

.link a::before {
    content: '/';
}

.remove > i {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: rgb(253, 87, 87);

    
}

.remove > i:hover {
    color: red;
    transition-duration: .2s;
}

footer {
    display: grid;
    place-content: center;
}

footer p {
    color: white;
    font-family: var(--text);
}

footer a {
    color: yellow;
}