* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: clamp(40%, 1% + 2vw, 62.5%);
}

#container-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;

}

#block-timer {
    display: grid;
    place-content: center;
    min-width: 0;
}

#timer {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 12.6rem;
    font-weight: 500;
    color: #323238;  
}

#buttons-timer {
    display: flex;
    justify-content: space-between;
}

#buttons-timer > button {
    font-size: 5rem;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: #323238;
    cursor: pointer;
    
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute; 
    opacity: 0;
    overflow: hidden;
}

#sounds-buttons {
    display: grid;
    grid-template-columns: repeat(2, 13.8rem);
    place-content: center;
    gap: 3.2rem;
}

#sounds-buttons > button{
    font-size: 5rem;
    padding: 4.8rem;
    border-radius: 2.4rem;
    border: none;
    color: #323238;
    background-color: #E1E1E6;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.452);
}

#sounds-buttons > .button-clicked {
    background-color: #02799D;
    color: #FFFFFF;
}
