@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Mulish', sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    display: grid;
    justify-content: center;

    background-color: #121214;
}

h1, h2 {
    font-weight: 900;
}

header {
    padding-top: 7rem;
}

header h1 {
    color: #02799D;
    font-size: 5.8rem;
}

header p {
    color: #E1E1E6;
    font-weight: 600;
    font-size: 3.2rem;
}

main {
    margin-top: 6.2rem;
    display: grid;

    grid-template-columns: repeat(3, 37.0rem);
    column-gap: 6.0rem;
    row-gap: 4.0rem;    
}

main section {
    border: 2px solid #323238;
    border-radius: 8px;
    background-color: #323238;

    overflow: hidden;
}

main h2 {
    color: #E1E1E6;
    font-size: 3.3rem;
}

main p {
    font-weight: 600;
    font-size: 1.9rem;
    color: #C4C4CC;
}

main section h2, main section p {
    padding: 2rem;
}