* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

main {
    display: grid;
    place-content: center;

    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #00DDFB, #00709F);

}

section {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 80px;

    width: 430px;
    height: 300px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: inset 1px 1px 5px black;
}

.text {
    display: grid;
    place-items: center;
    gap: 15px;

    font-size: 14px;
}

.text h1 {
    font-size: 25px;
    color: rgb(133, 131, 131);
}

form > #idnumber{
    width: 40px;
    height: 50px;
    border: none;
    background-color: #DCE2E9;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}

button{
    border: none;
    background-color: #7879F1;
    border-radius: 4px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 16px;
    cursor: pointer;
    color: #FFFFFF;
}

#showAttempts {
    text-align: center;
}

.hide {
    display: none;
}
